@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

.hero-text {
	opacity: .2;
}

/* REMOVE WHEN YOU GO LIVE */
body { 
  height: 100vh !important;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: -2;
  opacity: .05;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.footer {
  text-align: center;
  padding: 4rem;
  .links a {
    list-style: none;
    color: $white;
    letter-spacing: 1px;
    padding: 3rem 0 2rem;
    margin: 0;
    &::after {
      content: "";
      padding: 0 1.4rem 0 1.8rem;
    }
    &:last-child::after {
      content: "";
      padding: 0 1.4rem 0 1.8rem;
    }
  }
  .links a:hover {
  	opacity: .8;
  }
}

.fa {
	color: #72939b !important;
}

.uppercase {
	text-transform: uppercase;
}

.hero {
	/* background: rgba(39, 52, 56, .8); */
	color: #2b383c;
	margin-top: 5rem;

	h1 {
		background: -webkit-linear-gradient(#e5ef5b, #e5ef5b, #2b383c);
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		letter-spacing: 7px;
		font-weight: 100;
	}

	p {
		padding: 30px 0px 0px 49px;
		position: absolute;
		letter-spacing: 3px;
	}
}

@media screen and (max-width: 1024px) {
	.hero h1 {
		text-align: left;
	}
}

.inline-list {
	list-style-type: none;

	li {
		display: inline;
		margin-left: 30px;
		opacity: .4;
	}

	li:first-of-type {
		margin-left: none !important;
	}
}

.display-text-left {
	color: #868c8e;
	margin: 0 0 3rem 3rem;
	padding: 2.5rem;
	border: 1px solid #425155;
	background: rgba(40, 52, 57, 1);
}

.display-text-right {
	color: #868c8e;
	margin: 0 3rem 3rem 0;
	padding: 2.5rem;

	ul {
		color: #2b393e;
		padding-top: 1rem;

		a {
			opacity: .5;
		}

		a:hover {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1024px) {
	.display-text-left {
		margin: 0 0 0 0;
	}

	.display-text-right {
		margin: 0 0 0 0;
	}
}

.logo {
	opacity: .2;
}

.helper-icon {
	opacity: .5;
}

.top-bar {
	position: fixed;
	width: 100%;
	text-align: center;
	/* margin-bottom: 100px; */
	/* margin: 0 auto; */
	z-index: 999;
}

@media screen and (max-width: 1024px) {
	.hook-head {
		position: relative !important;
		padding: 0 0 0 10px !important;
		margin: 0 !important;
	}
}

@media screen and (max-width: 810px) {
  .tile {
    margin: 0 auto;
  }
}

/*jribbble code*/

.gallery {
	position: relative;
  .gallery-feed {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    .tile {
        list-style-type: none;
        /* display: block; */
        position: relative;

        .thumb {
          img {
            width: 24.330rem;
            height: auto;
          }
          figure {
            position: absolute;
            width: 24.330rem;
            height: 100%;
            top: 0;
            margin: 0;
            text-align: center;
            color: $white;
            padding-top: 0;
            background: rgba(39, 52, 56, .9);
            opacity: 0;
            box-sizing: border-box;
          }
          &:hover figure {
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            transition: 0.5s;
            opacity: 1;
            padding-top: 120px;
            font-size: 30px;
            cursor: pointer;
          }
        }
        .special {
          background: #F3C029;
          color: #333;
        }
      }
  }
}

.work-button {
  padding: 8px 18px 8px 15px;
  border-radius: 50px;
  margin-left: .6rem;
  color: #e5ef5b;
}

.work-button:hover {
}

.cta {
  position: fixed;
  bottom: 3rem;
  left: -1px;
  z-index: 999;
  background: rgba(44, 58, 62, .9);
  color: #2b383c;
  width: 307px;
  height: 50px;
  border: 1px solid #425155;
  font-size: 14px;
  color: $white;

  .fa {
    color: #e5ef5b !important;
  }

  .icon {
    margin-left: .6rem;
    transition: all .4s ease;
  }

  .work-button:hover {
    color: #e5ef5b;
    .icon {
      margin-left: .9rem;
    }
  }

  p {
    margin-bottom: 0 !important;
    margin-top: 12px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 810px) {
  .cta {
    top: 1rem;
    bottom: 1rem;
  }
}

.portfolio-grid {
  margin-top: 4rem;
  background: rgba(44, 58, 62, 0.5);
  border: 1px solid #425155;

  .title {
    text-align: center;
    h5 {
      color: black;
      color: #e5ef5b;
      margin-bottom: 10px;
      padding-top: 30px;
    }

    p {
      font-size: 14px;
      margin-bottom: 50px;
    }
    a {
      color: #4baad4;
    }
  }
}

.mobile-logo {
  position: absolute;
  width: 65%;
  left: 70px;
  top: 20px;
  opacity: .05;
  z-index: -5;
}
