@import 'colors';
@import 'hero';
@import 'skeleton';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'nav';
@import 'panel-ctas';
@import 'animation';


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}