/* Color Palette */

$white: #fff;
$light-gray: #e7e7e7;
$gray: #90A4AE;

/* ------------------------------ */

$blue: #03A9F4;
$light-blue: #4FC3F7;
$dark-blue: #42a4d0;
$contrast-blue: #3e5568;

$green: #8BC34A;
$dark-green: #7CB342;

$orange: #FFC107;
$dark-orange: #FFB300;
$light-orange: #f7c49e;

$red: #EF5350;

$lime: #D4E157;