.hero-image {
	position: absolute;
	z-index: -3;
	width: 100%;
	height: 100%;
}

.hero {
	height: 100vh;
	color: $white;

	.left {
		background: $blue;
		padding-right: 100px;
		// background: linear-gradient(270deg, #42a5f5, #2196f3, #1e88e5, #1976d2, #3f51b5);
		// background-size: 1000% 1000%;

		// -webkit-animation: AnimationName 51s ease infinite;
		// -moz-animation: AnimationName 51s ease infinite;
		// animation: AnimationName 51s ease infinite;

		// @-webkit-keyframes AnimationName {
		//     0%{background-position:0% 50%}
		//     50%{background-position:100% 51%}
		//     100%{background-position:0% 50%}
		// }
		// @-moz-keyframes AnimationName {
		//     0%{background-position:0% 50%}
		//     50%{background-position:100% 51%}
		//     100%{background-position:0% 50%}
		// }
		// @keyframes AnimationName { 
		//     0%{background-position:0% 50%}
		//     50%{background-position:100% 51%}
		//     100%{background-position:0% 50%}
		// }
		height: 100%;
		padding-top: 15%;
		padding-left: 6rem;
		z-index: 3;
		position: fixed;
		-webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
 		clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);

 		.author {
 			width: 35px;
 			display: inline;
 			opacity: .8;
 			padding-right: 25px;
 			padding-top: 15px;
 		}

 		button {
 			margin-top: 25px;
 		}

 		.fa {
 			font-size: 16px;
 			color: $white;
 			text-decoration: none;
 			padding-right: 10px;
 		}
	}

	.cta {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $green;
		padding: 20px 25px 20px 20px;
		width: 100%;
		z-index: 1;
		text-align: right;

		.social {

			a {
				margin-left: 40px;
				color: $white;
				opacity: .8;
				transition: all ease .5s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	h1 {
		text-transform: uppercase;
		font-weight: 600;
	}

	h4 {
	}

	h5 {
		text-transform: uppercase;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 1024px) {
	.hero {

		.left{
			-webkit-clip-path: none;
			clip-path: none;
			background: $blue;
			padding-right: 0;
			width: 100% !important;
		// 	background: linear-gradient(270deg, #42a5f5, #2196f3, #1e88e5, #1976d2, #3f51b5);
		// 	background-size: 1000% 1000%;

		// 	-webkit-animation: AnimationName 51s ease infinite;
		// 	-moz-animation: AnimationName 51s ease infinite;
		// 	animation: AnimationName 51s ease infinite;

		// 	@-webkit-keyframes AnimationName {
		// 	    0%{background-position:0% 50%}
		// 	    50%{background-position:100% 51%}
		// 	    100%{background-position:0% 50%}
		// 	}
		// 	@-moz-keyframes AnimationName {
		// 	    0%{background-position:0% 50%}
		// 	    50%{background-position:100% 51%}
		// 	    100%{background-position:0% 50%}
		// 	}
		// 	@keyframes AnimationName { 
		// 	    0%{background-position:0% 50%}
		// 	    50%{background-position:100% 51%}
		// 	    100%{background-position:0% 50%}
		// 	}
		// }
		}

		.cta {
			z-index: 999;
			text-align: center;

			.fa-2x {
				font-size: 3em;
			}
		}
	}

	.hero-image {
		display: none;
	}
}

@media screen and (max-width: 550px) {
  .hero {
  	height: auto;

  	.left {
  		padding-right: 0;

  		.content {
  			display: none;
  		}
  	}

  	.panel-ctas {
  		height: auto;
  		padding-top: 150px;

  		.panel {
  			padding-right: 25px;
  		}
  	}
  }
}