.nav {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255, 0);
  position: fixed;
  z-index: 999;

  a {
    color: $gray;
    text-decoration: none;
    transition: all ease .5s;
    letter-spacing: .2rem;
    font-weight: lighter;
    opacity: .6;
    font-size: 11px;
    text-transform: uppercase;
    transition: all ease .5s;
    
    &:hover {
      opacity: 1;
      color: $gray;
    }
  }

  .logo {
    padding: 18px 0px 0px 20px;
  }

  .links {
    text-align: right;
    padding: 18px 20px 0px 0px;
    
    li {
      display: inline;
      margin-left: 45px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .nav {

    .links {
      display: none;
    }
  }
}