html {
  font-size: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5cc393+0,00c167+100 */
  background: #5cc393; /* Old browsers */
  background: -moz-linear-gradient(top,  #5cc393 0%, #00c167 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #5cc393 0%,#00c167 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #5cc393 0%,#00c167 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc393', endColorstr='#00c167',GradientType=0 ); /* IE6-9 */

}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 24px solid rgba(0,0,0,.02);
  -webkit-box-shadow: -1px 18px 35px -10px rgba(0,0,0,0.02);
  -moz-box-shadow: -1px 18px 35px -10px rgba(0,0,0,0.02);
  box-shadow: -1px 18px 35px -10px rgba(0,0,0,0.02);
  background: #fff;
  border-radius: 4px;
  margin-top: 6rem;
}

.content:before {
  content:"";
  border: 8px solid #6fd8a3;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  right: 15%;
  opacity: 0;
}

.content h1 {
  color: #5cc393;
  opacity: .8;
  font-size: 42px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 6rem;
  line-height: 1rem;
  letter-spacing: 1rem;
}

.content h2 {
  color: #5cc393;
  opacity: .9;
  font-size: 32px;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.content p {
  max-width: 400px;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
  line-height: 2.1rem;
  letter-spacing: .1rem;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.keys {
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,.2);
  margin-top: 10rem;
  padding: 1.8rem 1.8rem;
}

.key {
  border:4px solid #6fd8a3;
  border-radius: 2px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s;
  width: 100px;
  text-align: center;
  color:white;
  background:rgba(255,255,255,0.1);
}

.playing {
  transform:scale(1.2);
  border-color:#85e8b6;
}

.playing .sound {
  border-top:1px solid #fff;
}

.playing kbd {
  transform: rotate(-10deg);
}

.playing .sound {
  color: #fff;
}

kbd {
  display: block;
  font-size: 60px;
  padding-bottom: .9rem;
}

.sound {
  font-size: 1rem;
  border-top: 1px solid rgba(255,255,255,.6);
  padding-top: .7rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color:#fff;
  opacity: .6;
}
