@import 'colors';
// @import 'loader';
@import 'footer';
@import 'hero';
@import 'skeleton';
@import 'typography';
@import 'buttons';
@import 'forms';
// @import 'nav';
// @import 'use-cases';
// @import 'cta';


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
  font-size: 62.5%; 
  background: $white;

  .center {
  	text-align: center;
  }

  .inline-button {
    border: 1px solid $white;
    background: none !important;
  }
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  color: #455860;
  font-weight: 400;
  font-family: "Proxima Nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
