body {
	background: #ff6633;
	font-family: sans-serif;
	text-align: center;
}

.title {
	max-width: 800px;
	display: block;
	width: 100%;
	text-align: center;
}

.title h1 {
	font-size: 48px;
	color: #ffac91;
}

.title .button {
	border-radius: 100%;
	color: #fff;
	background: green;
	padding: 20px;
}
