@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
.wrapper {
	height: 100vh;
	width: 100vw;
	background: #f76631;
	z-index: 3;
	position: absolute;
}

.first {
	height: 100vh;
	width: 100vw;
	z-index: 1;
	background-color: #f76631;
	position: absolute;
}

.second {
	height: 100vh;
	width: 100vw;
	z-index: 2;
	background-color: #242f33;
	position: absolute;
}

.header {
	background: #fff;
	border-bottom: solid 1px #e7e7e7;
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
}

.footer {
	background: #fff;
	border-bottom: solid 1px #e7e7e7;
	height: 75px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 4;
}

.form {
	padding-top: 30%;
}
