.hero {
	height: 100vh;

	.left {
		background: #03A9F4;
		height: 100%;
		padding-top: 15%;
		padding-left: 6rem;

		&:before {
			content: '';
		    position: absolute;
		    z-index: -1;
		    bottom: 14px;
		    background: #03A9F4;
		    left: 493px;
		    width: 315px;
		    height: 185%;
		    border-bottom: 19rem solid transparent;
		    -ms-transform: rotate(7deg);
		    -webkit-transform: rotate(7deg);
		    transform: rotate(7deg);
		}
	}

	.cta {
		position: absolute;
		bottom: 0;
		right: 0;
		background: #4FC3F7;
		padding: 20px 15% 20px 20px;
		border-radius: 5px;
		width: 100%;
		text-align: right;
		z-index: -2;
	}

	.illustration {
		position: absolute;
		right: 0;
		z-index: -2;
	}

	h1 {
		text-transform: uppercase;
		color: $white;
		letter-spacing: .1rem;
	}

	h4 {
		color: $white;
	}

	h5 {
		text-transform: uppercase;
		color: $white;
	}
}