/* Appcues Color Palette */

$white: #fff;
$light-gray: #e7e7e7;

/* ------------------------------ */

/* Standard blues and other standard colors */
$blue-seas: #4baad4;
$light-blue-seas: #a3d7ee;
$dark-blue-seas: #42a4d0;
$scurvy: #34495e;
$dark-scurvy: #273a49;
$light-scurvy: #3e5568;

/* Success color */
$land-lover: #8fce89;
$dark-land-lover: #74b76c;

/* Alert color */
$blood-debt: #eb6e5e;


