.cta {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4baad4+0,1f9dd3+100 */
	background: #4baad4; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #4baad4 0%, #1f9dd3 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #4baad4 0%,#1f9dd3 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #4baad4 0%,#1f9dd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4baad4', endColorstr='#1f9dd3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	.row {
		padding-top: 115px;
		padding-bottom: 115px;
	}

	h1 {
		font-size: 28px;
		text-transform: uppercase;
		color: $white;
	}
}