@import url('http://weloveiconfonts.com/api/?family=entypo');

.footer {
  padding: 35px 0;
  text-align: center;

  a {
  	text-decoration: none;
  	color: #bbb;
  	transition: color .3s;

  }

  a:hover {
  	color: #4baad4;
  	cursor: pointer;
  }
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 20px;
  line-height: 40px;
  font-family: Entypo;
  font-size: 15px;
  text-align: center;
  color: #bbb;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  color: #4baad4;
  cursor: pointer;
}