.hero {
	width: 100%;
	border-bottom: 1px solid $light-gray;
	padding-top: 75px;
	padding-bottom: 75px;
	color: $white;
	text-align: center;

	p {
		margin-top: 40px;
	}

	button {
		margin-top: 20px;
	}

	.logo {
		margin-bottom: 50px;
	}
}